*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #10101e;
}
.datetime{
    color: #fff;
    background: #10101e;
    font-family: "segoe UI", sans-serif;
    width: 450px;
    padding: 15px 10px;
    border: 3px solid #2e94e3;
    transition: 0.5s;
    transition-property: all;
}
.datetime:hover{
    background: #2e94e3;
    box-shadow: 0 0 30px #2e94e3;
}
.dateletter{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.datenum{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    border: 3px solid #2e94e3;
    color: rgb(255, 255, 255);
    background: #10101e;
    font-family: "segoe UI", sans-serif;
    margin-left: 150px;
    font-size: large;
    border-radius: 100%;
}